.card-container {
    display: flex;
    justify-content: space-between; /* Para distribuir o espaço igualmente entre os elementos */
  }
  
  .card {
    flex: 0 0 auto; /* Para garantir que as cartas não se estendam além de seu tamanho original */
  }
  