
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body{
    background-color: rgb(4, 4, 4);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #b80707 ;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #b80707;
}
button:hover{
    box-shadow: 0px 0px 8px #ba0404;
    transform: scale(1.05);
}

header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #b8b4b4;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color:#fff;
    transform: scale(1.05);

}

header nav ul{
    list-style-type: none;

}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #ba0404;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 33px;
    line-height: 45px;
}
.topo-do-site .txt-topo-do-site h1 span{
    color: #b80b0b;
}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}



@keyframes flutuar{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}

/*estilo das especialidades*/
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;

}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff70;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #b80707;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
/*estilo do sobre*/
section.Sobre{
    padding: 80px 4%;
}
section.Sobre .flex{
    align-items: center;
    gap: 60px;
}

.Sobre .txt-sobre{
    color: #fff;
} 

.Sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}

.Sobre .txt-sobre h2 span{
    color: #b80707;
    display: block;
}

.Sobre .txt-sobre h2 p{
    margin: 20pz 0;
    text-align: justify;
}

    .Sobre .txt-sobre .btn-social button{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: none;
        background-color: #b80707;
        font-size: 22px;
        cursor: pointer;
        margin: 0 5px;
        transition: .2s;
    }

    













    .produto {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .produto img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }
    
    .menu-desktop ul li a {
        color: #FF5733;
        text-decoration: none;
    }
    
    .search-form input[type="text"] {
        background-color: #FFC300;
        border: 1px solid #E0E0E0;
        padding: 8px;
    }
    
    .search-form button {
        background-color: #FF5733;
        border: none;
        padding: 8px;
        color: white;
        cursor: pointer;
    }
    
    .container {
        display: flex;
        justify-content: center;
    }
    

    .btn-contato {
        display: flex;
        align-items: center; /* Alinha verticalmente no centro */
        justify-content: center; /* Alinha os itens à direita */
    }
  


    .produtos {
        background-color: black; /* Cor de fundo */
        padding: 50px 0; /* Espaçamento interno */
        box-shadow: 0px 0px 10px gray; /* Sombra */
    }
    
    .produtos .titulo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .produtos-flex {
        display: flex;
        justify-content: space-around; /* Espaçamento entre os produtos */
    }
    
    .produto {
        text-align: center;
        width: 250px;
        padding: 20px;
        
        border-radius: 8px;
        box-shadow: 0px 4px 8px gray;
        transition: transform 0.4s ease-in-out;
    }
    
    .produto:hover {
        transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .produto img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    
    .produto h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .produto p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 15px;
    }
    
    .btn-comprar {
        display: inline-block;
        background-color: #FF5733;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .btn-comprar:hover {
        background-color: #E64A19;
    }
    